 <div class="card-list" *ngIf="visibleMessage" [@shrinkHeight]>

    <div class="card full brackets center" bracketCard #dashboardMessage *ngIf="visibleMessage.body">

        <h4 [innerHTML]="visibleMessage.title"></h4>

        <div [innerHTML]="visibleMessage.body"></div>

        <div class="action right">
            <span class="button" (click)="dismissVisibleMessage()" *ngIf="!visibleMessage.notDismissable">Dismiss</span>
            <button class="button brackets" (click)="visibleMessage.action()" *ngIf="visibleMessage.button">{{visibleMessage.button}}</button>
        </div>
        
    </div>

 </div>