<nav [class.show-nav]="mobileNavShown">
    
    <h1 routerLink="/dashboard" *ngIf="user" class="clickable">Coach Yourself</h1>
    <h1 *ngIf="!user"></h1>

    <a class="menu-trigger" (click)="mobileNavShown = !mobileNavShown"><i class="fa fa-bars"></i></a>
    
    <div class="menu" *ngIf="!user">
        <a routerLink="/signup" class="nav-item" routerLinkActive="active">Join</a>

        <a (click)="login()" class="nav-item">Log In</a>
    </div>

    <div class="menu" *ngIf="user">
        <a routerLink="/materials" routerLinkActive="active" class="nav-item"
            *ngIf="userService.can('material_page_view')">
            <span>Files</span>
        </a>
        
        <a routerLink="/lessons" routerLinkActive="active" class="nav-item"
            *ngIf="userService.can('lesson_page_view')">
            <span>Lessons</span>
        </a>

        <a routerLink="/videos" routerLinkActive="active" class="nav-item"
            *ngIf="userService.can('video_page_view')">
            <span>Videos</span>
        </a>

        <a routerLink="/admin" routerLinkActive="active" class="nav-item" 
            *ngIf="userService.isSuperAdmin()">
            <span>Admin</span>
        </a>
        
        <a *ngIf="user" (click)="logout()" class="nav-item">
            <span>Log Out</span> <i class="fa fa-sign-out"></i>
        </a>
    </div>
    
</nav>

<div (click)="closeOverlays()" class="backdrop nav-backdrop" [@fade] [class.show]="showBackdrop"></div>

<router-outlet></router-outlet>

<div class="dialog-container show" *ngIf="showDialog">
    <div class="dialog" [@dialog]="'default'" *ngIf="showDialog">
        <div class="dialog-content">
            <h2>{{dialogTitle}}</h2>
            <p [innerHTML]="dialogMessage"></p>
            <input type="text" [placeholder]="dialogPrompt" formInput [(ngModel)]="dialogInput" *ngIf="dialogPrompt" />
        </div>
        <div class="button-group">
            <button (click)="onDialogDismiss()" *ngIf="!dialogHideCancel">{{dialogCancel}}</button>
            <button class="button brackets" *ngIf="dialogConfirm" (click)="onDialogConfirm()" [class.disabled]="dialogPrompt && !dialogInput">{{dialogConfirm}}</button>
        </div>
    </div>
</div>

<div class="toast" (click)="hideToast()">
    <span [@shrinkVertical] *ngIf="toastMessage">{{toastMessage}}</span>
</div>

<login [show]="showLogin" (done)="handleLogin($event)" class="dialog-container show" *ngIf="showLogin"></login>

<div class="loader" *ngIf="loaderVisible">
    <logo class="white"></logo>
</div>

<footer (window:scroll)="onScroll()">

    <div class="footer-nav">
        <!-- <a routerLink="/legal" *ngIf="user">Legal stuff</a> -->
        <a *ngIf="user" routerLink="/user" routerLinkActive="active">Your Account</a>
        <a routerLink="/contact/reportbug" routerLinkActive="active" *ngIf="user">
            <span>Report a Bug</span>
        </a>
        <a href="http://katebringardner.com">KateBringardner.com</a>
    </div>

    <img src="/images/comodo_secure_seal_76x26_transp.png" />

    <span>&copy;2017 Kate Bringardner, LLC, All Rights Reserved</span>

</footer>