<div class="page">

    <div class="banner">
        <h1>Videos</h1>
        <h2>Gain inspiration from this selection of content.</h2>
    </div>

    <div class="paper has-brackets">

        <div class="content">

            <div class="card-list">
                <iframe class="card nopadding" width="560" height="315" src="https://www.youtube.com/embed/Ks-_Mh1QhMc" frameborder="0" allowfullscreen></iframe>

                <iframe class="card nopadding" width="560" height="315" src="https://www.youtube.com/embed/pKyIw9fs8T4" frameborder="0" allowfullscreen></iframe>

                <iframe class="card nopadding" width="560" height="315" src="https://www.youtube.com/embed/IeblJdB2-Vo" frameborder="0" allowfullscreen></iframe>

                <iframe class="card nopadding" width="560" height="315" src="https://www.youtube.com/embed/sfmQvc6tB1o" frameborder="0" allowfullscreen></iframe>

                <iframe class="card nopadding" width="560" height="315" src="https://www.youtube.com/embed/DYu_bGbZiiQ" frameborder="0" allowfullscreen></iframe>

                <iframe class="card nopadding" width="560" height="315" src="https://www.youtube.com/embed/VrSUe_m19FY" frameborder="0" allowfullscreen></iframe>

                <iframe class="card nopadding" width="560" height="315" src="https://www.youtube.com/embed/KmCsoGrz5QI" frameborder="0" allowfullscreen></iframe>
                <iframe class="card nopadding" width="560" height="315" src="https://www.youtube.com/embed/wy5N9CljB2Y" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

    </div>

</div>