<div class="page">

    <dashboard-message-list></dashboard-message-list>

    <div class="card-list">

        <div routerLink="/app/materials" class="card brackets clickable" *ngIf="userService.can('material_page_view')">
            <h4>Files</h4>
            <p>Browse and download your content.</p>
        </div>

        <div routerLink="/app/videos" class="card brackets clickable" *ngIf="userService.can('video_page_view')">
            <h4>Videos</h4>
            <p>Browse examples, lessons, tips and tricks, and other exciting video content.</p>
        </div>

    </div>

</div>