footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // @include abs(null, 0, 0, 0, 5);
    box-sizing: border-box;
    height: $footer-height;
    margin-top: -$footer-height;
    padding: $page-padding-v $page-padding-h;
    font-size: 13px;
    background-color: $color-footer-bg;
    color: $color-footer-text;

    a {
        color: $color-primary;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
    }
}