footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // @include abs(null, 0, 0, 0, 5);
    box-sizing: border-box;
    height: $footer-height;
    margin-top: -$footer-height;
    padding: $page-padding-v $page-padding-h;
    font-size: 13px;
    background-color: $color-footer-bg;
    color: $color-footer-text;
    position: relative;
    z-index: 2;

    .footer-nav {
        background-color: $color-transparent;
        display: flex;
        margin: 20px 0;
    }

    a {
        color: $color-primary;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 $std;
        letter-spacing: 2px;
    }

    & > span { 
        margin: 25px 0;
    }

    @media #{$media-mobile} {
        
    }
}