$website-paper-bg: $color-white;

$home-page-spacing: $large * 3;

marketing-toolbar {
    .toolbar {
        position: absolute;

        .toolbar-row {
            justify-content: flex-end;
            padding: 25px 50px;

            a {
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
                font-size: 14px;
                margin: 0 0 0 30px;
                padding: 5px;
                letter-spacing: 3px;

                i {
                    margin-left: $small;
                }

                &.active {
                    opacity: 0.25;
                    color: $color-secondary;
                }
            }

            @media #{$media-mobile} {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                height: auto;
            }

        }

        logo {
            @include abs(0, null, null, 50%, 7);
            margin-left: -23px;
            padding: $std - 5;

            @media #{$media-mobile} {
                top: 100%;
            }

            &::before {
                content: '';
                @include abs(0, 0, 0, 0);
                display: block;
                background-color: transparent;
                @include md-elevation-transition('background-color 200ms');
            }
        }

        &.on {
            a {
                color: $color-white;
            }

            .logo:hover .plus {
                color: $color-white;
            }

            @media #{$media-mobile} {
                logo:before {
                    background-color: $color-primary;
                    border-radius: 0 0 50% 50%;
                    @include md-elevation($toolbar-elevation);
                }
            } 
        }

        @media #{$media-mobile} {
            // top: -($toolbar-height * 4);
            transform: translateY(-100%);
            transition: transform 300ms;
        }

        &.open {
            // top: 0;
            transform: translateY(0);
        }
    }
}

signup {

    .page {
        box-sizing: border-box;
        position: relative;
        z-index: 4;
        padding-top: $toolbar-height;
    }

    .blackbox {
        background: $color-white;
        padding: 80px;
        position: relative;
        z-index: 5;
        color: $color-black;
        box-shadow: 1px 2px 30px rgba(0,0,0,.3) inset;
        margin-bottom: 50px;

        h1 {
            font-size: 2.8em;
            text-transform: uppercase;
            letter-spacing: 0.159em;
            font-weight: 400;
            font-family: $font-futura;
        }

        h2 {
            margin: 25px 0 0 0;
            font-size: 1.2em;
        }

    }

    .payment-info {
        max-width: 500px;
        text-align: left;
        margin: 0 auto;

        .StripeElement {
            background-color: white;
            padding: $small $small $small;
            margin: $small 0 $large;
            border: 1px solid transparent;
            border-bottom: 1px solid $color-primary;
            border-radius: $border-radius;
        }

        .StripeCardErrors {
            margin: -$large 0 $large 0;
            color: darkred;
        }

        .StripeElement--focus {
        }

        .StripeElement--invalid {
            border-color: darkred;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }
    }
}
