@import "./mixins/elevation";
@import "./mixins/mixins";

@import "vars";

$paper-bg: $color-white;

@media #{$media-mobile} {
    improvplus > .left-bracket,
    improvplus > .right-bracket {
        display: none;
    }
}

.page {
    min-height: calc(100vh - #{$toolbar-height});
    box-sizing: border-box;
    position: relative;
    padding: $page-padding-v $page-padding-h ($page-padding-v + $toolbar-height);

    .paper-label {
        font-size: 16px;
        padding: $std;
        margin: 0 ($toolbar-height / 2)+2;
        position: relative;
        z-index: 2;

        @media #{$media-mobile} {
            margin: 0 ($toolbar-height / 4) + 2;
        }

        &.big {
            padding: ($large * 2) $std;
            font-size: 32px;
            text-align: center;
        }

        .button-group {
            float: right;
            margin-top: -($std - ($small / 2));

            @media #{$media-mobile} {
                float: none;
                margin: 0;
                text-align: left;
            }
        }
    }

    h4 {
        font-size: 28px;

        input {
            font-size: 20px;
        }
    }

    h5 {
        font-size: 18px;
    }

    .tabs {
        margin: 0 0 $std 0;
        // position: relative;
        // z-index: 3;
        padding: 0 $border-radius;

        .tab {
            position: relative;
            z-index: 3;
        }

        @media #{$media-mobile} {
            margin: 0;
        }
    }

    .paper {
        border-radius: $border-radius;
        background: $paper-bg;
        padding: $std;
        position: relative;
        z-index:  2;
        margin: 0 ($toolbar-height / 2)+2 $std;
        @include md-elevation-transition('padding 200ms');

        @media #{$media-mobile} {
            margin: 0 0 $std;
        }

        &.list {
            padding: 0;
        }

        & > .content {
            position: relative;
            z-index: 6;
        }

        & .metadata {
            position: relative;
            z-index: 7;

            &.horizontal {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
            }
        }

        .description, .description p {
            line-height: 1.25;
        }

        .paper-toggle {
            margin-left: $std;
        }

        .left-bracket, .right-bracket {
            transition: opacity 200ms, border-color 200ms;

            h1 {
                transition: right 200ms, left 200ms;
            }
        }

        &.closed {
            @include md-elevation(1);
            padding-bottom: 0;

            .left-bracket {
                opacity: 0;
            }
            .right-bracket {
                border-color: $color-white;

                h1 {
                    right: (-$std);
                }
            }
        }
    }

    &.fullbg {
        //background: $color-secondary;

        .paper:first-child {
            margin-top: 0;
        }
    }
}

game-details {
    h4 {
        span {
            vertical-align: middle;
        }
        .fa-plus-circle {
            font-size: 0.5em;
            vertical-align: middle;
            display: inline-block;
        }
        input {
            text-align: right;
        }
    }
    textarea {
        height: 10em;
    }
}